.TopBar {
    border: 4px;
    border-bottom-color: green;
    border-bottom-style: solid;
}

.Jobs {
    border: 1 px;
    border-radius: 10px;
    padding: 10px;
    margin: 10px;
    border-color: green;
    border-style: solid;
}

button{
    margin: 5px
}