.TopBar {
    z-index: 1049;
    top: 0px;
    width: 100%;
    position: fixed;
    background-color: white !important;
    border: 4px;
    border-bottom-color: rgb(153, 197, 85);
    border-bottom-style: solid;
    min-width: 504px;
}

.Jobs {
    color: rgb(49, 82, 184);
    border: 1px;
    border-radius: 3px;
    padding: 10px;
    margin: 10px;
    box-shadow: 1px 1px 6px #000000;
    border-color: rgba(255,255,255,.01);
}

.questionBox {
    margin-top: 5%;
    margin-left: 11px;
    height: 120px;
    width: 120vh;
    border-radius: 4px;
    display: block;
    box-shadow: 0px 0px 4.5px #000000;
}

.questionBox {
    margin-top: 5%;
    margin-left: 11px;
    height: 100%;
    width: 120vh;
    border-radius: 4px;
    display: block;
    box-shadow: 0px 0px 4.5px #000000;
}

.sideBar {
    padding-top: 10px;
    background-color: rgb(242, 242, 242);
    width: 32%;
    height: 100vh;
    min-width: 280px;
    width: 20px;
    right: 0;
}

body {
    padding-top: 89px;
}

.cancelImg {
    max-width: 30px;
    max-height: 30px;
    min-width: 30px;
    min-height: 30px;
    margin-left: 10px
}

    .cancelImg:hover {
        filter: brightness(0) saturate(100%) invert(22%) sepia(34%) saturate(5994%) hue-rotate(7deg) brightness(95%) contrast(96%);
        cursor: pointer;
    }

.UserProfile {
    display: inline-block;
    background-color: white;
    margin-right: 30px;
    text-align: center;
    width: 130vh;
    height: 100%;
}

.profileImg {
    margin-left: 20%;
    max-height: 250px;
    max-width: 250px;
    min-height: 250px;
    min-width: 250px;
}

.profileCenter {
    display: inline-block;
}

.profileInfo {
    margin-left: 20px;
    margin-right: 20px;
    margin-top: 25px;
    display: flex;
    flex-direction: row;
}

.profileText {
    white-space: nowrap;
    width: 100%;
    font-size: 20px;
    padding-top: 5px;
    overflow: hidden;
    text-overflow: ellipsis;
    max-width: 300px;
}

.profileName {
    white-space: nowrap;
    width: 100%;
    font-weight: bold;
    font-size: 25px;
    overflow: hidden;
    max-width: 300px;
}

.profileTextdiv {
    text-align: left;
    width: 100%;
    padding-top: 20px;
    padding-left: 20px;
}


button {
    margin: 5px;
}

.form-control {
    margin-bottom: 5px;
}

.logo {
    width: 30%;
    height: 50%;
}

.titleHome {
    color: rgb(153, 197, 85);
}

.positionText {
    color: blue;
}

.AccountPageConfig {
    background-color: rgb(242, 242, 242);
    display: flex;
    flex-direction: row;
    position: absolute;
    left: 0;
    height: 100%;
    width: 100%;
}

.questForm {
    display: block;
    max-height: 50vh;
}

.questionAlign {
    display: flex;
    flex-direction: row;
}

.AccountBar {
    padding-top: 10px;
    background-color: rgb(242, 242, 242);
    width: 32%;
    height: 100%;
    bottom: 0px;
    min-width: 280px;
    width: 20px;
}


.space {
    margin-bottom: 5px;
    margin-left: 10px;
}

.signUpText {
    color: rgb(102,178,255);
}

.label {
    color: rgb(49, 82, 184);
    border: 1px;
    border-radius: 20px;
    padding: 10px;
    width: 90%;
    margin-top: 15px;
    margin-bottom: 15px;
    box-shadow: 1px 1px 6px #000000;
    border-color: rgba(255,255,255,.01);
}


.nav-element {
    color: rgba(255,255,255, 1) !important;
    border: 4px;
    border-color: rgba(255,255,255,.01);
    box-shadow: 1px 1px 3.5px #000000;
    border-style: solid;
    margin-left: 7px;
    border-radius: 5px;
    background: rgb(153, 197, 85);
    box-shadow: 1px 1px 4px #000000;
}

    .nav-element:hover {
        background-color: rgb(128, 163, 71);
    }


.log-in-box {
    align-items: center;
    margin-top: 25px;
    border: 10px;
    border-color: rgba(255,255,255,.01);
    border-style: solid;
    width: 25%;
    display: block;
    margin-left: auto;
    margin-right: auto;
    padding: 5px;
    border-radius: 10px;
    box-shadow: 1px 1px 4.5px #000000;
}

.personal-info-box {
    align-items: center;
    margin-top: 25px;
    border: 10px;
    border-color: rgba(255,255,255,.01);
    border-style: solid;
    width: 35%;
    display: block;
    margin-left: auto;
    margin-right: auto;
    padding: 5px;
    border-radius: 10px;
    box-shadow: 1px 1px 4.5px #000000;
}

.log-in-field {
}



.treeGraph {
    background: rgba(245,245,245,1);
    left: 0;
    position: absolute;
    width: 100%;
    height: 87%;
}

.greenButton {
    height: auto;
    width: auto;
    font-size: 20px;
    border-radius: 3px;
    color: rgb(255, 255, 255);
    border: 2px;
    background-color: rgb(153, 197, 85);
    box-shadow: 1px 1px 6px #000000;
}

    .greenButton:hover {
        background-color: rgb(128, 163, 71);
    }

.LoginButton {
    border-radius: 2px;
    color: rgb(255, 255, 255);
    border: 2px;
    background-color: rgb(153, 197, 85);
    box-shadow: 1px 1px 6px #000000;
}

    .LoginButton:hover {
        background-color: rgb(128, 163, 71);
    }


.logo {
    width: 40%;
    height: 40%;
}

.logo_s {
    width: 45%;
    height: 45%;
}

.pagination {
    justify-content: center;
    margin: 30px;
}
